.header__email {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;  
    color: white;
    text-align: right;
    margin: 0;
    padding: 0;
    display: inline;
}

@media screen and (max-width: 700px) {
    .header__email {
        display: flex;
    }
}