.form-button {
    width: 358px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    margin-top: 0;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 37px;
    background-color: #000;
    cursor: pointer;
    transition: opacity .4s;
    color: white;
    padding: 0;
}
  
.form-button:hover {
    opacity: .8;
}

@media screen and (max-width: 500px) {
    .form-button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-left: 22px;
        margin-bottom: 25px;
    }
}